* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

nav {
	display: flex;
	justify-content: space-between;
	padding: 20px;
}

main {
	display: grid;
	grid-template-columns: 200px 1fr;
}

.project-container,
.task-container {
	padding-left: 20px;
}
