* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

nav {
	display: flex;
	justify-content: space-between;
	padding: 20px;
}

main {
	display: grid;
	grid-template-columns: 200px 1fr;
}

.prevent-select {
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10 and IE 11 */
	user-select: none; /* Standard syntax */
}

.project-container,
.task-container {
	padding-left: 20px;
}

#default-project:hover {
	cursor: pointer;
}
